@api
@{{ machine_name }}
Feature: {{ label }} - access.edit

  Background:
    Given {{ machine_name }} content:
      | title | status | author |
      | Behat {{ label }} | 1      | admin  |

  Scenario: {{ label }} - access.edit - anonymous
    Given I am an anonymous user
    When I am editing the "{{ machine_name }}" content "Behat {{ label }}"
    Then the response status code should be 403

  Scenario Outline: {{ label }} - access.edit - registered
    Given I am logged in as a user with the "<role>" role
    When I am editing the "{{ machine_name }}" content "Behat {{ label }}"
    Then the response status code should be <statusCode>
    Examples:
    {% include '@devel_wizard/behat/devel_wizard.behat.role.access.examples.twig' %}
