@api
@{{ machine_name }}
Feature: {{ label }} - form.create

  @javascript
  Scenario: {{ label }} - form.create {{ label }} page.
    Given I am logged in as a user with the "Administrator" role
    And I am on "node/add/{{ machine_name }}"
    When I fill in "title[0][value]" with "{{ label }} Test"
    And I press the "edit-submit" button
    Then I should see the success message "{{ label }} {{ label }} Test has been created."
