@api
@{{ machine_name }}
Feature: {{ label }} - access.create

  @javascript
  Scenario: {{ label }} - Navigate to the {{ label }} create page
    Given I am logged in as a user with the "Administrator" role
    And I am on the homepage
    When I click "Manage"
    And I follow "Content"
    And I follow "{{ label }}"
    Then the response status code should be 200
    And I should see a "form[data-drupal-selector=node-{{ machine_name|replace({'_': '-'}) }}-form]" element

  Scenario: {{ label }} - access.create - anonymous
    Given I am an anonymous user
    When I go to "/node/add/{{ machine_name }}"
    Then the response status code should be 403

  Scenario Outline: {{ label }} - access.create - registered
    Given I am logged in as a user with the "<role>" role
    When I go to "/node/add/{{ machine_name }}"
    Then the response status code should be <statusCode>
    Examples:
    {% include '@devel_wizard/behat/devel_wizard.behat.role.access.examples.twig' %}
