@api
@{{ machine_name }}
Feature: {{ label }} - access.view

  Background:
    Given {{ machine_name }} content:
      | title | status | author |
      | Behat {{ label }} | 1      | admin  |

  Scenario: {{ label }} - access.view - anonymous
    Given I am an anonymous user
    And I am on the homepage
    When I am visiting the "{{ machine_name }}" content "Behat {{ label }}"
    Then the response status code should be 200

  Scenario Outline: {{ label }} - access.view - registered
    Given I am logged in as a user with the "<role>" role
    When I am visiting the "{{ machine_name }}" content "Behat {{ label }}"
    Then the response status code should be <statusCode>
    Examples:
      | role          | statusCode |
      | authenticated | 200        |
