@api
@{{ machine_name }}
Feature: {{ label }} - form.edit

  Background:
    Given {{ machine_name }} content:
      | title | status | author |
      | Behat {{ label }} | 1      | admin  |

  @javascript
  Scenario: {{ label }} - Create {{ label }} page.
    Given I am logged in as a user with the "Administrator" role
    And I am editing the "{{ machine_name }}" content "Behat {{ label }}"
    When I fill in "title[0][value]" with "Updated {{ label }} title"
    And I press the "edit-submit" button
    Then I should see the message "{{ label }} Updated {{ label }} title has been updated."
