{% autoescape false %}
{% set type = type|default('class') %}
{% include '@devel_wizard/php/devel_wizard.php.file.header.php.twig' %}
{% include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig' %}

{% include '@devel_wizard/php/devel_wizard.php.phpdoc.php.twig' %}
{% if modifier %}{{ modifier }} {% endif -%}
{{ type }} {{ name -}}
{% if extends|length > 0 %} extends {{ extends|join(', ') }}{% endif -%}
{% if implements %} implements{% for interface in implements%}{% if not loop.first %},{% endif %} {{ interface }}{% endfor %}{% endif %} {
{% include '@devel_wizard/php/devel_wizard.php.class.traits.php.twig' %}
{% include '@devel_wizard/php/devel_wizard.php.class.body.php.twig' %}
{% if body|length > 0 or traits|length > 0 ~%}

{% endif %}
}
{% endautoescape %}
