{#
  Support more formats:

  use function com\tutorialspoint\fn_a;
  use const com\tutorialspoint\ConstA;
  use com\tutorialspoint\{ClassA, ClassB, ClassC as C};
  use function com\tutorialspoint\{fn_a, fn_b, fn_c};
  use const com\tutorialspoint\{ConstA, ConstB, ConstC};
#}
{# @todo Sort by key #}

{% for fqn, alias in useStatements %}
use {{ fqn }}{% if alias %} as {{ alias }}{% endif %};
{% endfor %}
