{% if traits|length > 0 %}

{% endif %}
{% for name, definition in traits %}
  {%- if definition|length == 0 %}
  use {{ name }};
  {%- else %}
  use {{ name }} {
    {{ definition|join(";\n    ") }};
  }
  {%- endif ~%}
{% endfor -%}
