{#
/**
 * @file
 * Theme implementation for the role and statusCode TableNode for Behat tests.
 *
 * @todo Filter plugin for TableNode type templates like this.
 */
#}
{% import '@devel_wizard/devel_wizard.utils.twig' as utils %}
  | role{{ utils.repeat(' ', roles.headerSpaces) }}| statusCode |
{% for role, options in roles|without('headerSpaces') %}
      | {{ role }}{{ utils.repeat(' ', options.spaces) }}| {{ options.code }}        |
{% endfor %}
