{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': node_type.derivative.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    useStatements: {
      'Drupal\\Component\\Plugin\\Derivative\\DeriverBase': '',
      'Drupal\\Core\\Entity\\EntityTypeManagerInterface': '',
      'Drupal\\Core\\Extension\\ModuleHandlerInterface': '',
      'Drupal\\Core\\Plugin\\Discovery\\ContainerDeriverInterface': '',
      'Drupal\\Core\\Routing\\RouteProviderInterface': '',
      'Drupal\\Core\\StringTranslation\\StringTranslationTrait': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    }
  }
%}

class {{ node_type.class }} extends DeriverBase implements ContainerDeriverInterface {

  use StringTranslationTrait;

  protected RouteProviderInterface $routeProvider;

  protected EntityTypeManagerInterface $entityTypeManager;

  protected ModuleHandlerInterface $moduleHandler;

  /**
   * {@inheritdoc}
   */
  public static function create(
    ContainerInterface $container,
    $base_plugin_id
  ) {
    return new static(
      $container->get('router.route_provider'),
      $container->get('entity_type.manager'),
      $container->get('module_handler')
    );
  }

  public function __construct(
    RouteProviderInterface $routeProvider,
    EntityTypeManagerInterface $entityTypeManager,
    ModuleHandlerInterface $moduleHandler
  ) {
    $this->routeProvider = $routeProvider;
    $this->entityTypeManager = $entityTypeManager;
    $this->moduleHandler = $moduleHandler;
  }

  /**
   * {@inheritdoc}
   */
  public function getDerivativeDefinitions($base_plugin_definition) {
    $this->derivatives = [];
    if (!$this->moduleHandler->moduleExists('node')) {
      return $this->derivatives;
    }

    $nodeTypeStorage = $this
      ->entityTypeManager
      ->getStorage('node_type');
    $nodeTypes = $nodeTypeStorage->loadMultiple();
    $viewStorage = $this->entityTypeManager->getStorage('view');
    foreach ($nodeTypes as $nodeType) {
      $view = $viewStorage->load("{$nodeType->id()}_admin");
      if (!$view) {
        continue;
      }

      $this->derivatives["{{ module.machine_name }}_add_{$nodeType->id()}"] = [
        'route_name' => 'node.add_page',
        'title' => $this->t('Add content'),
        'appears_on' => [
          "view.{$nodeType->id()}_admin.overview",
        ],
      ] + $base_plugin_definition;
    }

    return $this->derivatives;
  }

}
