{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': block_content_type.derivative.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    useStatements: {
      'Drupal\\Component\\Plugin\\Derivative\\DeriverBase': '',
      'Drupal\\Core\\Entity\\EntityTypeManagerInterface': '',
      'Drupal\\Core\\Extension\\ModuleHandlerInterface': '',
      'Drupal\\Core\\Plugin\\Discovery\\ContainerDeriverInterface': '',
      'Drupal\\Core\\Routing\\RouteProviderInterface': '',
      'Drupal\\Core\\StringTranslation\\StringTranslationTrait': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    }
  }
%}

class {{ block_content_type.class }} extends DeriverBase implements ContainerDeriverInterface {

  use StringTranslationTrait;

  protected RouteProviderInterface $routeProvider;

  protected EntityTypeManagerInterface $entityTypeManager;

  protected ModuleHandlerInterface $moduleHandler;

  /**
   * {@inheritdoc}
   */
  public static function create(
    ContainerInterface $container,
    $base_plugin_id
  ) {
    return new static(
      $container->get('router.route_provider'),
      $container->get('entity_type.manager'),
      $container->get('module_handler')
    );
  }

  public function __construct(
    RouteProviderInterface $routeProvider,
    EntityTypeManagerInterface $entityTypeManager,
    ModuleHandlerInterface $moduleHandler
  ) {
    $this->routeProvider = $routeProvider;
    $this->entityTypeManager = $entityTypeManager;
    $this->moduleHandler = $moduleHandler;
  }

  /**
   * {@inheritdoc}
   */
  public function getDerivativeDefinitions($base_plugin_definition) {
    $this->derivatives = [];

    if (!$this->moduleHandler->moduleExists('block_content')) {
      return $this->derivatives;
    }

    $this->derivatives['{{ module.machine_name }}_custom_blocks'] = [
      'route_name' => 'block_content.add_page',
      'title' => $this->t('Add custom block'),
      'appears_on' => [
        "{{ module.machine_name }}.block_content.collection",
      ],
    ];

    $blockContentTypeStorage = $this
      ->entityTypeManager
      ->getStorage('block_content_type');
    $blockContentTypes = $blockContentTypeStorage->loadMultiple();
    $viewStorage = $this->entityTypeManager->getStorage('view');
    foreach ($blockContentTypes as $blockContentType) {
      $view = $viewStorage->load("{$blockContentType->id()}_admin");
      if (!$view) {
        continue;
      }

      $this->derivatives["{{ module.machine_name }}_{$blockContentType->id()}_add"] = [
        'route_name' => 'block_content.add_page',
        'title' => $this->t('Add custom block'),
        'appears_on' => [
          "view.{$blockContentType->id()}_admin.overview",
        ],
      ] + $base_plugin_definition;
    }

    return $this->derivatives;
  }

}
