@api
@javascript @{{ machine_name }}
Feature: {{ label }} - form.create

  Scenario: {{ label }} - create new {{ machine_name }} custom block
    Given I am logged in as a user with the "Administrator" role
    And I am on the homepage
    When I click "Manage"
    And I follow "Structure"
    And I follow "Block layout"
    And I follow "Custom block library"
    And I follow "Add custom block"
    And I follow "{{ label }}"
    And I fill in "info[0][value]" with "{{ label }} Test"
    And I press the "edit-submit" button
    Then I should see the success message "{{ label }} {{ label }} Test has been created."

