@api
@{{ machine_name }}
Feature: {{ label }} - form.edit

  Background:
    Given block content:
      | type | {{ machine_name }} |
      | info | Behat {{ label }} |

  @javascript
  Scenario: {{ label }} - Create {{ label }} page.
    Given I am logged in as a user with the "Administrator" role
    And I am editing the "{{ machine_name }}" block content "Behat {{ label }}"
    When I fill in "info[0][value]" with "Updated {{ label }} title"
    And I press the "edit-submit" button
    Then I should see the message "{{ label }} Updated {{ label }} title has been updated."
