@api
@{{ machine_name }}
Feature: {{ label }} - access.view

  Background:
    Given block content:
      | type | {{ machine_name }} |
      | info | Behat {{ label }} |

  Scenario: {{ label }} - access.view - anonymous
    Given I am an anonymous user
    And I am on the homepage
    When I am visiting the "{{ machine_name }}" block content "Behat {{ label }}"
    Then the response status code should be 200

  Scenario Outline: {{ label }} - access.view - registered
    Given I am logged in as a user with the "<role>" role
    When I am visiting the "{{ machine_name }}" block content "Behat {{ label }}"
    Then the response status code should be <statusCode>
    Examples:
    {% include '@devel_wizard/behat/devel_wizard.behat.role.access.examples.twig' %}
