@api
@{{ machine_name }}
Feature: {{ label }} - form.edit

  Background:
    Given {{ machine_name }} terms:
      | name |
      | Behat {{ label }} |

  @javascript
  Scenario: {{ label }} - Create {{ label }} page.
    Given I am logged in as a user with the "Administrator" role
    And I am editing the "{{ machine_name }}" term "Behat {{ label }}"
    When I fill in "name[0][value]" with "Updated {{ label }} title"
    And I press the "edit-submit" button
    Then I should see the message "Updated term Updated {{ label }} title."
