@api
@{{ machine_name }}
Feature: {{ label }} - form.create

  @javascript
  Scenario: {{ label }} - form.create {{ label }} page.
    Given I am logged in as a user with the "Administrator" role
    And I am on "admin/structure/taxonomy/manage/{{ machine_name }}/add"
    When I fill in "name[0][value]" with "{{ label }} Test"
    And I press the "edit-submit" button
    Then I should see the success message "Created new term {{ label }} Test."
