@api
@{{ machine_name }}
Feature: {{ label }} - access.view

  Background:
    Given {{ machine_name }} terms:
      | name |
      | Behat {{ label }} |

  # https://www.drupal.org/project/drupal/issues/3004498
  @knownBug
  Scenario: {{ label }} - access.view - anonymous
    Given I am an anonymous user
    And I am on the homepage
    When I am visiting the "{{ machine_name }}" term "Behat {{ label }}"
    Then the response status code should be 200

  # https://www.drupal.org/project/drupal/issues/3004498
  @knownBug
  Scenario Outline: {{ label }} - access.view - registered
    Given I am logged in as a user with the "<role>" role
    When I am visiting the "{{ machine_name }}" term "Behat {{ label }}"
    Then the response status code should be <statusCode>
    Examples:
      | role          | statusCode |
      | authenticated | 200        |
