@api
@{{ machine_name }}
Feature: {{ label }} - access.delete

  Background:
    Given {{ machine_name }} terms:
      | name |
      | Behat {{ label }} |

  Scenario: {{ label }} - access.delete - anonymous
    Given I am an anonymous user
    When I am deleting the "{{ machine_name }}" term "Behat {{ label }}"
    Then the response status code should be 403

  Scenario Outline: {{ label }} - access.delete - registered
    Given I am logged in as a user with the "<role>" role
    When I am deleting the "{{ machine_name }}" term "Behat {{ label }}"
    Then the response status code should be <statusCode>
    Examples:
    {% include '@devel_wizard/behat/devel_wizard.behat.role.access.examples.twig' %}
