{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

class {{ content.class }}EditForm extends {{ content.class }}AddForm {

  /**
   * {@inheritdoc}
   */
  protected function saveSetMessage() {
    $args = [
      '%label' => $this->entity->label(),
      '@type' => $this->entity->getEntityType()->getLabel(),
    ];

    $this->messenger()->addStatus($this->t('"%label" @type has been updated', $args));

    return $this;
  }

}
