{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': module.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\ContentEntityInterface': '',
      'Drupal\\Core\\Entity\\EntityChangedInterface': '',
      'Drupal\\Core\\Entity\\EntityPublishedInterface': '',
      'Drupal\\Core\\Entity\\RevisionLogInterface': '',
      'Drupal\\user\\EntityOwnerInterface': '',
    },
  }
%}

interface {{ content.interface }} extends ContentEntityInterface, EntityChangedInterface, EntityOwnerInterface, RevisionLogInterface, EntityPublishedInterface {

  public function getCreatedTime(): int;

 /**
  * @return $this
  */
  public function setCreatedTime(int $timestamp);

}
