{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\ContentEntityDeleteForm': '',
    },
  }
%}

class {{ content.class }}DeleteForm extends ContentEntityDeleteForm {
}
