{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

use {{ content.interface_fqn }};
use {{ config.interface_fqn }};
use {{ config.namespace }}\{{ config.class }}Comparer;
use {{ module.namespace }}\{{ content.class }}PermissionProviderInterface;
{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Component\\Utility\\Xss': '',
      'Drupal\\Core\\Config\\Entity\\ConfigEntityType': '',
      'Drupal\\Core\\Controller\\ControllerBase': '',
      'Drupal\\Core\\Datetime\\DateFormatterInterface': '',
      'Drupal\\Core\\Entity\\EntityInterface': '',
      'Drupal\\Core\\Entity\\EntityRepositoryInterface': '',
      'Drupal\\Core\\Link': '',
      'Drupal\\Core\\Render\\RendererInterface': '',
      'Drupal\\Core\\StringTranslation\\TranslatableMarkup': '',
      'Drupal\\Core\\Url': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    },
  }
%}

class {{ content.class }}Controller extends ControllerBase {

  protected DateFormatterInterface $dateFormatter;

  protected RendererInterface $renderer;

  protected string $entityTypeId = '{{ content.id }}';

  protected string $bundleEntityTypeId = '{{ config.id }}';

  protected {{ content.class }}PermissionProviderInterface $permissionProvider;

  protected EntityRepositoryInterface $entityRepository;

  protected int $revisionHistoryItemPerPage = 50;

  protected function getRevisionHistoryItemPerPage(): int {
    return $this->revisionHistoryItemPerPage;
  }

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container) {
    return new static (
      $container->get('date.formatter'),
      $container->get('renderer'),
      $container->get('entity.{{ content.id }}.permission_provider'),
      $container->get('entity.repository'),
    );
  }

  /**
   * {@inheritdoc}
   */
  public function __construct(
    DateFormatterInterface $dateFormatter,
    RendererInterface $renderer,
    {{ content.class }}PermissionProviderInterface $permissionProvider,
    EntityRepositoryInterface $entityRepository
  ) {
    $this->dateFormatter = $dateFormatter;
    $this->renderer = $renderer;
    $this->permissionProvider = $permissionProvider;
    $this->entityRepository = $entityRepository;
  }

  /**
   * Page callback.
   *
   * @return array|\Symfony\Component\HttpFoundation\RedirectResponse
   *   Render array or Response object.
   */
  public function addPageContent() {
    $etm = $this->entityTypeManager();
    $contentAch = $etm->getAccessControlHandler('{{ content.id }}');

    /** @var \Drupal\Core\Config\Entity\ConfigEntityType $config */
    $config = $etm->getDefinition('{{ config.id }}');

    $build = [
      '#theme' => 'entity_add_list',
      '#bundles' => [],
      '#cache' => [
        'tags' => $etm
          ->getDefinition('{{ config.id }}')
          ->getListCacheTags(),
      ],
      '#add_bundle_message' => $this->addPageBundleMessage($config),
    ];

    /** @var \{{ config.interface_fqn }}[] $types */
    $types = $etm->getStorage('{{ config.id }}')->loadMultiple();
    uasort($types, (new {{ config.class }}Comparer()));
    foreach ($types as $type) {
      $access = $contentAch->createAccess($type->id(), NULL, [], TRUE);
      if ($access->isAllowed()) {
        $build['#bundles'][$type->id()] = $this->addPageBundleBuild($type);
      }

      $this->renderer->addCacheableDependency($build, $access);
    }

    if (count($build['#bundles']) == 1) {
      /** @var \{{ config.interface_fqn }} $type */
      $bundle = reset($build['#bundles']);
      $type = $bundle['entity'];
      $contentEntityTypeId = $type->getEntityType()->getBundleOf();

      return $this->redirect(
        "entity.$contentEntityTypeId.add_form",
        [
          $type->getEntityTypeId() => $type->id(),
        ],
      );
    }

    return $build;
  }

  protected function addPageBundleMessage(ConfigEntityType $config): TranslatableMarkup  {
    $configAch = $this
      ->entityTypeManager()
      ->getAccessControlHandler($config->id());

    return $configAch->createAccess() ?
      $this->t(
        'There are no @entityType.labelPlural. <a href=":entityType.url.add">Add new.</a>',
        [
          '@entityType.labelPlural' => $config->getPluralLabel(),
          ':entityType.url.add' => Url::fromRoute("entity.{$config->id()}.add_form")->toString(),
        ],
      )
      : $this->t(
      'There are no @entityType.labelPlural.',
        [
          '@entityType.labelPlural' => $config->getPluralLabel(),
        ],
      );
  }

  protected function addPageBundleBuild({{ config.interface }} $type): array {
    $contentEntityTypeId = $type->getEntityType()->getBundleOf();

    return [
      'entity' => $type,
      'weight' => $type->get('weight'),
      'label' => $type->label(),
      'add_link' => Link::createFromRoute(
        $type->label(),
        "entity.$contentEntityTypeId.add_form",
        [
          $type->getEntityTypeId() => $type->id(),
        ],
      ),
      'description' => $type->get('description'),
    ];
  }

  /**
   * Returns a form to add a new term to a vocabulary.
   *
   * @param \Drupal\Core\Entity\EntityInterface ${{ config.id }}
   *   The object which represent the bundle this content will be added to.
   */
  public function addForm(EntityInterface ${{ config.id }}): array {
    $etm = $this->entityTypeManager();
    $bundle_entity_type = ${{ config.id }}->getEntityType();
    $bundle_of = $etm->getDefinition($bundle_entity_type->getBundleOf());
    $content_entity = $etm
      ->getStorage($bundle_of->id())
      ->create([
        $bundle_of->getKey('bundle') => ${{ config.id }}->id(),
      ]);

    return $this
      ->entityFormBuilder()
      ->getForm($content_entity);
  }

  /**
   * Route title callback.
   */
  public function entityLabel(EntityInterface ${{ content.id }}): array {
    return [
      '#markup' => ${{ content.id }}->label(),
      '#allowed_tags' => Xss::getHtmlTagList(),
    ];
  }

  /**
   * Route title callback.
   */
  public function revisionHistoryTitle({{ content.interface }} ${{ content.id }}) {
    return [
      '#markup' => $this->t(
        'Revisions of %entity.label @entityType.label',
        [
          '%entity.label' => ${{ content.id }}->label(),
          '@entityType.label' => ${{ content.id }}->getEntityType()->getLabel(),
        ]
      ),
      '#allowed_tags' => Xss::getHtmlTagList(),
    ];
  }

  /**
   * Route content callback.
   *
   * Generates an overview table of older revisions of a {{ content.label }}.
   *
   * @return string|int|array|\Psr\Http\Message\ResponseInterface
   *   An array as expected by \Drupal\Core\Render\RendererInterface::render().
   */
  public function revisionHistoryContent({{ content.interface }} ${{ content.id }}) {
    $account = $this->currentUser();
    $langCode = ${{ content.id }}->language()->getId();
    $langName = ${{ content.id }}->language()->getName();
    $languages = ${{ content.id }}->getTranslationLanguages();
    $hasTranslations = (count($languages) > 1);

    /** @var \{{ content.namespace }}\{{ content.class }}StorageInterface $storage */
    $storage = $this->entityTypeManager()->getStorage(${{ content.id }}->getEntityTypeId());
    $entityTypeId = ${{ content.id }}->getEntityTypeId();

    $build = [
      'revisions' => [
        '#theme' => 'table',
        '#attached' => [],
        '#attributes' => [
          'class' => 'revision-table',
        ],
        '#header' => [
          'details' => $this->t('Details'),
          'operations' => $this->t('Operations'),
        ],
        '#rows' => [],
      ],
      'pager' => [
        '#type' => 'pager',
      ],
    ];

    $access = [
      'hasRevertPermission' => ${{ content.id }}->access('revision_revert', $account) && ${{ content.id }}->access('update'),
      'hasDeletePermission' => ${{ content.id }}->access('revision_delete', $account) && ${{ content.id }}->access('delete'),
    ];

    $defaultRevision = ${{ content.id }}->getRevisionId();
    $isCurrentRevisionDisplayed = FALSE;

    foreach ($this->getRevisionIds(${{ content.id }}, $storage) as $revisionId) {
      $revision = $storage->loadRevision($revisionId);

      if (!$revision->hasTranslation($langCode) || !$revision->getTranslation($langCode)->isRevisionTranslationAffected()) {
        continue;
      }

      // We treat also the latest translation-affecting revision as current
      // revision, if it was the default revision, as its values for the
      // current language will be the same of the current default revision in
      // this case.
      $isCurrentRevision = $revisionId == $defaultRevision || (!$isCurrentRevisionDisplayed && $revision->wasDefaultRevision());

      $linkText = $this->dateFormatter->format($revision->getRevisionCreationTime(), 'short');
      $linkRouteName = "entity.$entityTypeId.canonical";
      $linkParams = [
        $entityTypeId => ${{ content.id }}->id(),
      ];

      if ($isCurrentRevision) {
        $isCurrentRevisionDisplayed = TRUE;
      }
      else {
        $linkRouteName = "entity.$entityTypeId.revision_view";
        $linkParams["{$entityTypeId}_revision"] = $revisionId;
      }

      $link = Link::fromTextAndUrl($linkText, new Url($linkRouteName, $linkParams));

      $build['revisions']['#rows'][$revisionId] = [
        'data' => [
          'details' => [
            'data' => $this->getRevisionSubmissionElement($revision, $link),
          ],
          'operations' => [
            'data' => $this->getRevisionOperationElement($isCurrentRevision, ${{ content.id }}, $revision, $access, $hasTranslations),
          ],
        ],
      ];

      if ($isCurrentRevision) {
        $build['revisions']['#rows'][$revisionId]['class'][] = 'revision-current';
      }
    }

    return $build;
  }

  /**
   * Route title callback.
   */
  public function revisionViewTitle(${{ content.id }}_revision) {
    $etm = $this->entityTypeManager();

    $revision = $etm
      ->getStorage($this->entityTypeId)
      ->loadRevision(${{ content.id }}_revision);

    return [
      '#markup' => $revision->label(),
      '#allowed_tags' => Xss::getHtmlTagList(),
    ];
  }

  /**
   * Route content callback.
   *
   * @param string|int ${{ content.id }}_revision
   *
   * @return string|int|array|\Psr\Http\Message\ResponseInterface
   */
  public function revisionViewContent(${{ content.id }}_revision) {
    $etm = $this->entityTypeManager();

    $revision = $etm
      ->getStorage($this->entityTypeId)
      ->loadRevision(${{ content.id }}_revision);

    $this->entityRepository->getTranslationFromContext($revision);

    $viewController = $etm->getHandler($revision->getEntityTypeId(), 'view_controller');

    // @todo Unset #cache.
    $page = $viewController->view($revision);

    return $page;
  }

  /**
   * @return int[]
   *   Revision IDs (in descending order).
   */
  protected function getRevisionIds({{ content.interface }} $entity, {{ content.class }}StorageInterface $storage): array {
    $result = $storage
      ->getQuery()
      ->allRevisions()
      ->condition($entity->getEntityType()->getKey('id'), $entity->id())
      ->sort($entity->getEntityType()->getKey('revision'), 'DESC')
      ->pager($this->getRevisionHistoryItemPerPage())
      ->execute();

    return array_keys($result);
  }

  protected function getRevisionSubmissionElement({{ content.interface }} $revision, Link $link): array {
    $username = [
      '#theme' => 'username',
      '#account' => $revision->getRevisionUser(),
    ];

    $element = [
      '#type' => 'inline_template',
      '#template' => $this->getRevisionSubmissionInlineTemplate(),
      '#context' => [
        'date' => $link->toString(),
        'username' => $this->renderer->renderPlain($username),
        'message' => [
          '#markup' => $revision->getRevisionLogMessage(),
          '#allowed_tags' => Xss::getHtmlTagList(),
        ],
      ],
    ];

    // @todo Simplify once https://www.drupal.org/node/2334319 lands.
    $this->renderer->addCacheableDependency($element, $username);

    return $element;
  }

  protected function getRevisionSubmissionInlineTemplate(): string {
    return '{% verbatim %}{% trans %}{{ date }} by {{ username }}{% endtrans %}{% if message %}<p class="revision-log">{{ message }}</p>{% endif %}{% endverbatim %}';
  }

  protected function getRevisionOperationElement(
    bool $isCurrentRevision,
    {{ content.interface }} $current,
    {{ content.interface }} $revision,
    array $access,
    bool $hasTranslations
  ): array {
    if ($isCurrentRevision) {
      return [
        '#prefix' => '<em>',
        '#markup' => $this->t('Current revision'),
        '#suffix' => '</em>',
      ];
    }

    return [
      '#type' => 'operations',
      '#links' => $this->getRevisionOperationLinks($current, $revision, $access, $hasTranslations),
    ];
  }

  protected function getRevisionOperationLinks(
    {{ content.interface }} $current,
    {{ content.interface }} $revision,
    array $access,
    bool $hasTranslations
  ): array {
    $entityTypeId = $current->getEntityTypeId();
    $langCode = $current->language()->getId();

    $links = [];

    if ($access['hasRevertPermission']) {
      $links['revert'] = [
        'title' => $revision->getRevisionId() < $current->getRevisionId() ? $this->t('Revert') : $this->t('Set as current revision'),
        'url' => $hasTranslations ?
          Url::fromRoute(
            "entity.$entityTypeId.revision_revert_translation",
            [
              $entityTypeId => $current->id(),
              "{$entityTypeId}_revision" => $revision->getRevisionId(),
              'langcode' => $langCode,
            ]
          )
          : Url::fromRoute(
            "entity.$entityTypeId.revision_revert",
            [
              $entityTypeId => $current->id(),
              "{$entityTypeId}_revision" => $revision->getRevisionId(),
            ]
          ),
      ];
    }

    if ($access['hasDeletePermission']) {
      $links['delete'] = [
        'title' => $this->t('Delete'),
        'url' => Url::fromRoute(
          "entity.$entityTypeId.revision_delete",
          [
            $entityTypeId => $current->id(),
            "{$entityTypeId}_revision" => $revision->getRevisionId(),
          ]
        ),
      ];
    }

    return $links;
  }

}
