{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

use {{ content.interface_fqn }};
use Drupal\Component\Datetime\TimeInterface;
use Drupal\Core\Config\Entity\ConfigEntityStorageInterface;
use Drupal\Core\Datetime\DateFormatterInterface;
use Drupal\Core\Entity\EntityStorageInterface;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Language\LanguageManagerInterface;
use Symfony\Component\DependencyInjection\ContainerInterface;

class {{ content.class }}RevisionRevertTranslationForm extends {{ content.class }}RevisionRevertForm {

  protected string $langcode;

  protected LanguageManagerInterface $languageManager;

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container) {
    $etm = $container->get('entity_type.manager');

    return new static(
      $etm->getStorage(static::$entityTypeId),
      $etm->getStorage(static::$bundleEntityTypeId),
      $container->get('date.formatter'),
      $container->get('datetime.time'),
      $container->get('language_manager')
    );
  }

  public function __construct(
    EntityStorageInterface $contentStorage,
    ConfigEntityStorageInterface $configStorage,
    DateFormatterInterface $dateFormatter,
    TimeInterface $time,
    LanguageManagerInterface $languageManager
  ) {
    $this->languageManager = $languageManager;

    parent::__construct($contentStorage, $configStorage, $dateFormatter, $time);
  }

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return static::$entityTypeId . '_revision_revert_translation_form';
  }

  /**
   * {@inheritdoc}
   */
  public function getQuestion() {
    return $this->t(
      'Are you sure you want to revert @language translation to the revision from %revision-date?',
      [
        '@language' => $this->languageManager->getLanguageName($this->langcode),
        '%revision-date' => $this->dateFormatter->format($this->revision->getRevisionCreationTime()),
      ]
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getDescription() {
    return '';
  }

  /**
   * {@inheritdoc}
   */
  public function buildForm(array $form, FormStateInterface $form_state, ${{ content.id }}_revision = NULL, $langcode = NULL) {
    $this->langcode = $langcode;
    $form = parent::buildForm($form, $form_state, ${{ content.id }}_revision);

    // Unless untranslatable fields are configured to affect only the default
    // translation, we need to ask the user whether they should be included in
    // the revert process.
    $isDefaultTranslationAffectedOnly = $this->revision->isDefaultTranslationAffectedOnly();

    $form['revert_untranslated_fields'] = [
      '#type' => 'checkbox',
      '#title' => $this->t('Revert content shared among translations'),
      '#default_value' => $isDefaultTranslationAffectedOnly && $this->revision->getTranslation($this->langcode)->isDefaultTranslation(),
      '#access' => !$isDefaultTranslationAffectedOnly,
    ];

    return $form;
  }

  /**
   * {@inheritdoc}
   */
  protected function prepareRevertedRevision({{ content.interface }} $revision, FormStateInterface $form_state): {{ content.interface }} {
    $revert_untranslated_fields = (bool) $form_state->getValue('revert_untranslated_fields');
    $translation = $revision->getTranslation($this->langcode);

    return $this->contentStorage->createRevision($translation, TRUE, $revert_untranslated_fields);
  }
}
