
/**
 * Implements hook_theme_suggestions_HOOK().
 */
function {{ module.machine_name }}_theme_suggestions_{{ content.id }}(array $variables) {
  $entityTypeId = $variables['elements']['#entity_type'];
  /** @var \Drupal\Core\Entity\ContentEntityInterface $entity */
  $entity = $variables['elements']["#{$entityTypeId}"];
  $view_mode = strtr($variables['elements']['#view_mode'], '.', '_');
  $bundle = $entity->bundle();
  $id = $entity->id();

  return [
    "{$entityTypeId}__{$view_mode}",
    "{$entityTypeId}__{$bundle}",
    "{$entityTypeId}__{$bundle}__{$view_mode}",
    "{$entityTypeId}__{$id}",
    "{$entityTypeId}__{$id}__{$view_mode}",
  ];
}

/**
 * Prepares variables for node templates.
 *
 * Default template: node.html.twig.
 *
 * Most themes use their own copy of node.html.twig. The default is located
 * inside "/core/modules/node/templates/node.html.twig". Look in there for the
 * full list of variables.
 *
 * @param array $variables
 *   An associative array containing:
 *   - elements: An array of elements to display in view mode.
 *   - {{ content.id }}: {{ content.label }} object.
 *   - url: The Url object.
 */
function template_preprocess_{{ content.id }}(array &$variables) {
  $variables['view_mode'] = $variables['elements']['#view_mode'];
  $variables['{{ content.id }}'] = $variables['elements']['#{{ content.id }}'];

  /** @var \{{ content.interface_fqn }} ${{ content.id }} */
  ${{ content.id }} = $variables['{{ content.id }}'];

  $variables['url'] = ${{ content.id }}->toUrl('canonical', [
    'language' => ${{ content.id }}->language(),
  ]);

  $variables['label'] = $variables['elements']['label'];
  unset($variables['elements']['label']);

  $variables['isPage'] = {{ module.machine_name }}_is_entity_page(${{ content.id }});

  $variables += ['content' => []];
  foreach (Element::children($variables['elements']) as $key) {
    $variables['content'][$key] = $variables['elements'][$key];
  }

  $variables['attributes']['role'] = 'article';
}

/**
 * Checks whether the current page is the full page view of the passed-in node.
 *
 * @param \Drupal\Core\Entity\EntityInterface $entity
 *   An entity.
 *
 * @return bool
 *   The ID of the node if this is a full page view, otherwise FALSE.
 */
function {{ module.machine_name }}_is_entity_page(EntityInterface $entity): bool {
  $entityTypeId = $entity->getEntityTypeId();
  $routeMatch = \Drupal::routeMatch();
  $pageEntity = ($routeMatch->getRouteName() == "entity.$entityTypeId.canonical") ?
    $routeMatch->getParameter($entityTypeId)
    : NULL;

  return !empty($pageEntity) && $pageEntity->id() == $entity->id();
}
