{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': module.namespace ~ '\\Entity',
  }
%}

use {{ content.interface_fqn }};
{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\EditorialContentEntityBase': '',
      'Drupal\\Core\\Entity\\EntityStorageInterface': '',
      'Drupal\\Core\\Entity\\EntityTypeInterface': '',
      'Drupal\\Core\\Field\\BaseFieldDefinition': '',
      'Drupal\\user\\EntityOwnerTrait': '',
    },
  }
%}

/**
 * @ContentEntityType(
 *   id = "{{ content.id }}",
 *   label            = @Translation("{{ content.label }}"),
 *   label_collection = @Translation("{{ content.label }}"),
 *   label_singular   = @Translation("{{ content.label }}"),
 *   label_plural     = @Translation("{{ content.label_plural }}"),
 *   label_count = @PluralTranslation(
 *     singular = "@count {{ content.label }}",
 *     plural   = "@count {{ content.label_plural }}"
 *   ),
 *   bundle_entity_type = "{{ config.id }}",
 *   bundle_label = @Translation("{{ config.label }}"),
 *   handlers = {
 *     "storage"         = "{{ content.namespace }}\{{ content.class }}Storage",
 *     "storage_schema"  = "{{ content.namespace }}\{{ content.class }}StorageSchema",
 *     "access"          = "{{ content.namespace }}\{{ content.class }}AccessControlHandler",
 *     "translation"     = "{{ content.namespace }}\{{ content.class }}TranslationHandler",
 *     "view_builder"    = "{{ content.namespace }}\{{ content.class }}ViewBuilder",
 *     "view_controller" = "{{ content.namespace }}\{{ content.class }}ViewController",
 *     "list_builder"    = "{{ content.namespace }}\{{ content.class }}ListBuilder",
 *     "form" = {
 *       "default" = "{{ content.namespace }}\{{ content.class }}AddForm",
 *       "add"     = "{{ content.namespace }}\{{ content.class }}AddForm",
 *       "edit"    = "{{ content.namespace }}\{{ content.class }}EditForm",
 *       "delete"  = "{{ content.namespace }}\{{ content.class }}DeleteForm"
 *     },
 *     "route_provider" = {
 *       "html" = "{{ content.namespace }}\{{ content.class }}RouteProvider",
 *     },
 *   },
 *   base_table          = "{{ content.id }}_c_base",
 *   data_table          = "{{ content.id }}_c_data",
 *   revision_table      = "{{ content.id }}_r_base",
 *   revision_data_table = "{{ content.id }}_r_data",
 *   show_revision_ui = TRUE,
 *   fieldable = TRUE,
 *   field_ui_base_route = "entity.{{ config.id }}.edit_form",
 *   translatable = TRUE,
 *   common_reference_target = FALSE,
 *   admin_permission = "{{ module.machine_name }}.{{ content.id }}._all",
 *   permission_granularity = "bundle",
 *   entity_keys = {
 *     "id"        = "id",
 *     "revision"  = "revision_id",
 *     "bundle"    = "bundle",
 *     "langcode"  = "langcode",
 *     "label"     = "label",
 *     "uuid"      = "uuid",
 *     "uid"       = "uid",
 *     "owner"     = "uid",
 *     "status"    = "status",
 *     "published" = "published",
 *   },
 *   revision_metadata_keys = {
 *     "revision_created"     = "revision_created",
 *     "revision_user"        = "revision_uid",
 *     "revision_log_message" = "revision_log",
 *   },
 *   links = {
 *     "create"                           = "/admin/content/{{ content.id }}/add",
 *     "canonical"                        = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}",
 *     "edit-form"                        = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/edit",
 *     "delete-form"                      = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/delete",
 *     "revision-history"                 = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/revision",
 *     "revision-view"                    = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/revision/{{ '{' }}{{ content.id }}_revision{{ '}' }}",
 *     "revision-revert-form"             = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/revision/{{ '{' }}{{ content.id }}_revision{{ '}' }}/revert",
 *     "revision-revert-translation-form" = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/revision/{{ '{' }}{{ content.id }}_revision{{ '}' }}/revert/{langcode}",
 *     "revision-delete-form"             = "/admin/content/{{ content.id }}/manage/{{ '{' }}{{ content.id }}{{ '}' }}/revision/{{ '{' }}{{ content.id }}_revision{{ '}' }}/delete",
 *   }
 * )
 */
class {{ content.class }} extends EditorialContentEntityBase implements {{ content.interface }} {

  use EntityOwnerTrait;

  /**
   * {@inheritdoc}
   */
  public static function baseFieldDefinitions(EntityTypeInterface $entity_type) {
    $fields = parent::baseFieldDefinitions($entity_type);

    if ($entity_type->hasKey('label')) {
      $fields[$entity_type->getKey('label')] = BaseFieldDefinition::create('string')
        ->setLabel(t('Label'))
        ->setRequired(TRUE)
        ->setTranslatable(TRUE)
        ->setRevisionable(TRUE)
        ->setSetting('max_length', 255)
        ->setDisplayOptions(
          'form',
          [
            'type' => 'string_textfield',
            'weight' => -5,
          ],
        )
        ->setDisplayConfigurable('form', TRUE)
        ->setDisplayOptions(
          'view',
          [
            'label' => 'hidden',
            'type' => 'string',
            'weight' => -5,
          ]
        )
        ->setDisplayConfigurable('view', TRUE);
    }

    $fields += static::ownerBaseFieldDefinitions($entity_type);
    $key = $entity_type->getKey('owner');
    $fields[$key]
      ->setLabel(t('Authored by'))
      ->setRevisionable(TRUE)
      ->setTranslatable(TRUE)
      ->setDisplayOptions(
        'form',
        [
          'type' => 'entity_reference_autocomplete',
          'weight' => 5,
          'settings' => [
            'match_operator' => 'CONTAINS',
            'size' => '60',
            'placeholder' => '',
          ],
        ],
      )
      ->setDisplayConfigurable('form', TRUE)
      ->setDisplayOptions(
        'view',
        [
          'label' => 'hidden',
          'type' => 'author',
          'weight' => 0,
        ],
      )
      ->setDisplayConfigurable('view', TRUE);

      $key = $entity_type->getKey('status');
      $fields[$key] = BaseFieldDefinition::create('boolean')
        ->setLabel(t('Status'))
        ->setRevisionable(TRUE)
        ->setTranslatable(TRUE)
        ->setDefaultValue(TRUE)
        ->setDisplayOptions(
          'form',
          [
            'type' => 'boolean_checkbox',
            'settings' => [
              'display_label' => TRUE,
            ],
            'weight' => 120,
          ],
        )
        ->setDisplayConfigurable('form', TRUE);

    $fields['created'] = BaseFieldDefinition::create('created')
      ->setLabel(t('Authored on'))
      ->setDescription(t('The time that the {{ content.id }} was created.'))
      ->setRevisionable(TRUE)
      ->setTranslatable(TRUE)
      ->setDisplayOptions(
        'form',
        [
          'type' => 'datetime_timestamp',
          'weight' => 10,
        ],
      )
      ->setDisplayConfigurable('form', TRUE)
      ->setDisplayOptions(
        'view',
        [
          'label' => 'hidden',
          'type' => 'timestamp',
          'weight' => 0,
        ],
      )
      ->setDisplayConfigurable('view', TRUE);

    $fields['changed'] = BaseFieldDefinition::create('changed')
      ->setLabel(t('Changed'))
      ->setDescription(t('The time that the {{ content.id }} was last edited.'))
      ->setRevisionable(TRUE)
      ->setTranslatable(TRUE);

    $fields += static::revisionLogBaseFieldDefinitions($entity_type);

    return $fields;
  }

  /**
   * {@inheritdoc}
   */
  public function preSave(EntityStorageInterface $storage) {
    parent::preSave($storage);

    foreach (array_keys($this->getTranslationLanguages()) as $langcode) {
      $translation = $this->getTranslation($langcode);

      // If no owner has been set explicitly, make the anonymous user the owner.
      if (!$translation->getOwner()) {
        $translation->setOwnerId(0);
      }
    }

    // If no revision author has been set explicitly, make the node owner the
    // revision author.
    if (!$this->getRevisionUser()) {
      $this->setRevisionUserId($this->getOwnerId());
    }
  }

  /**
   * {@inheritdoc}
   */
  public function preSaveRevision(EntityStorageInterface $storage, \stdClass $record) {
    parent::preSaveRevision($storage, $record);

    if (!$this->isNewRevision()
      && isset($this->original)
      && (!isset($record->revision_log) || $record->revision_log === '')
    ) {
      // If we are updating an existing instance without adding a new revision,
      // we need to make sure $entity->revision_log is reset whenever it is empty.
      // Therefore, this code allows us to avoid clobbering an existing log
      // entry with an empty one.
      $record->revision_log = $this->original->revision_log->value;
    }
  }

  /**
   * {@inheritdoc}
   */
  public function getCreatedTime(): int {
    return $this->get('created')->value;
  }

  /**
   * {@inheritdoc}
   */
  public function setCreatedTime(int $timestamp) {
    $this->set('created', $timestamp);

    return $this;
  }

}
