{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

use {{ content.interface_fqn }};
use {{ content.namespace }}\{{ content.class }}StorageInterface;
use Drupal\Component\Datetime\TimeInterface;
use Drupal\Core\Config\Entity\ConfigEntityStorageInterface;
use Drupal\Core\Datetime\DateFormatterInterface;
use Drupal\Core\Entity\EntityStorageInterface;
use Drupal\Core\Form\ConfirmFormBase;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Url;
use Symfony\Component\DependencyInjection\ContainerInterface;

class {{ content.class }}RevisionRevertForm extends ConfirmFormBase {

  protected {{ content.interface }} $revision;

  protected {{ content.class }}StorageInterface $contentStorage;

  protected ConfigEntityStorageInterface $configStorage;

  protected DateFormatterInterface $dateFormatter;

  protected TimeInterface $time;

  protected static string $entityTypeId = '{{ content.id }}';

  protected static string $bundleEntityTypeId = '{{ config.id }}';

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container) {
    $etm = $container->get('entity_type.manager');

    return new static(
      $etm->getStorage(static::$entityTypeId),
      $etm->getStorage(static::$bundleEntityTypeId),
      $container->get('date.formatter'),
      $container->get('datetime.time')
    );
  }

  public function __construct(
    EntityStorageInterface $contentStorage,
    ConfigEntityStorageInterface $configStorage,
    DateFormatterInterface $dateFormatter,
    TimeInterface $time
  ) {
    $this->contentStorage = $contentStorage;
    $this->configStorage = $configStorage;
    $this->dateFormatter = $dateFormatter;
    $this->time = $time;
  }

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return static::$entityTypeId . '_revision_revert_form';
  }

  /**
   * {@inheritdoc}
   */
  public function getQuestion() {
    return $this->t(
      'Are you sure you want to revert to the revision from @entity.revision.date?',
      [
        '@entity.revision.date' => $this->dateFormatter->format($this->revision->getRevisionCreationTime()),
      ],
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getCancelUrl() {
    $entityTypeId = $this->revision->getEntityTypeId();

    return new Url(
      "entity.$entityTypeId.revision_history",
      [
        $entityTypeId => $this->revision->id(),
      ],
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getConfirmText() {
    return $this->t('Revert');
  }

  /**
   * {@inheritdoc}
   */
  public function getDescription() {
    return '';
  }

  /**
   * {@inheritdoc}
   *
   * @param int|string|null ${{ content.id }}_revision
   */
  public function buildForm(array $form, FormStateInterface $form_state, ${{ content.id }}_revision = NULL) {
    $this->revision = $this->contentStorage->loadRevision(${{ content.id }}_revision);

    return parent::buildForm($form, $form_state);
  }

  /**
   * {@inheritdoc}
   */
  public function submitForm(array &$form, FormStateInterface $form_state) {
    $originalRevisionTimestamp = $this->revision->getRevisionCreationTime();
    $entityTypeId = $this->revision->getEntityTypeId();
    $bundle = $this->configStorage->load($this->revision->bundle());
    $this->revision = $this->prepareRevertedRevision($this->revision, $form_state);

    $args = [
      '@entity.revision.id' => $this->revision->getRevisionId(),
      '@entity.revision.date' => $this->dateFormatter->format($originalRevisionTimestamp),
      '@entity.bundle.id' => $bundle->id(),
      '%entity.bundle.label' => $bundle->label(),
      '%entity.label' => $this->revision->label(),
    ];

    $this
      ->revision
      ->setRevisionLogMessage($this->t(
        'Copy of the revision from @entity.revision.date.',
        $args,
      ))
      ->setRevisionUserId($this->currentUser()->id())
      ->setRevisionCreationTime($this->time->getRequestTime())
      ->setChangedTime($this->time->getRequestTime())
      ->save();

    $this
      ->logger($entityTypeId)
      ->notice(
        '@entity.bundle.id: reverted %entity.label revision @entity.revision.id.',
        $args,
      );

    $this
      ->messenger()
      ->addStatus($this->t(
        '@entity.bundle.id %entity.label has been reverted to the revision from @entity.revision.date.',
        $args,
      ));

    $form_state->setRedirect(
      "entity.$entityTypeId.revision_history",
      [
        $entityTypeId => $this->revision->id(),
      ],
    );
  }

  protected function prepareRevertedRevision({{ content.interface }} $revision, FormStateInterface $form_state): {{ content.interface }} {
    $revision->setNewRevision();
    $revision->isDefaultRevision(TRUE);

    return $revision;
  }
}
