
/**
 * Implements hook_theme().
 */
function {{ module.machine_name }}_theme() {
  return [
    '{{ content.id }}' => [
      'render element' => 'elements',
      'template' => '{{ module.machine_name_dash }}.{{ content.id_dash }}',
    ],
  ];
}
