{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

use {{ content.interface_fqn }};
use {{ content.namespace }}\{{ content.class }}StorageInterface;
use Drupal\Core\Config\Entity\ConfigEntityStorageInterface;
use Drupal\Core\Database\Connection;
use Drupal\Core\Datetime\DateFormatterInterface;
use Drupal\Core\Entity\EntityStorageInterface;
use Drupal\Core\Form\ConfirmFormBase;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Url;
use Symfony\Component\DependencyInjection\ContainerInterface;

class {{ content.class }}RevisionDeleteForm extends ConfirmFormBase {

  protected static string $entityTypeId = '{{ content.id }}';

  protected static string $bundleEntityTypeId = '{{ config.id }}';

  protected {{ content.interface }} $revision;

  protected {{ content.class }}StorageInterface $contentStorage;

  protected ConfigEntityStorageInterface $configStorage;

  protected DateFormatterInterface $dateFormatter;

  protected Connection $connection;

  public function __construct(
    EntityStorageInterface $contentStorage,
    EntityStorageInterface $configStorage,
    DateFormatterInterface $dateFormatter,
    Connection $connection
  ) {
    $this->contentStorage = $contentStorage;
    $this->configStorage = $configStorage;
    $this->dateFormatter = $dateFormatter;
    $this->connection = $connection;
  }

  /**
   * {@inheritdoc}
   */
  public static function create(ContainerInterface $container) {
    $etm = $container->get('entity_type.manager');

    return new static(
      $etm->getStorage(static::$entityTypeId),
      $etm->getStorage(static::$bundleEntityTypeId),
      $container->get('date.formatter'),
      $container->get('database')
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return static::$entityTypeId . '_revision_delete_confirm';
  }

  /**
   * {@inheritdoc}
   */
  public function getQuestion() {
    return $this->t(
      'Are you sure you want to delete the revision from %revision.date?',
      [
        '%revision.date' => $this->dateFormatter->format($this->revision->getRevisionCreationTime()),
      ]
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getCancelUrl() {
    $entityTypeId = $this->revision->getEntityTypeId();

    return new Url(
      "entity.$entityTypeId.revision_history",
      [
        $entityTypeId => $this->revision->id(),
      ]
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getConfirmText() {
    return $this->t('Delete');
  }

  /**
   * {@inheritdoc}
   *
   * @param int|string|null ${{ content.id }}_revision
   */
  public function buildForm(array $form, FormStateInterface $form_state, ${{ content.id }}_revision = NULL) {
    $this->revision = $this->contentStorage->loadRevision($cda_pane_revision);

    return parent::buildForm($form, $form_state);
  }

  /**
   * {@inheritdoc}
   */
  public function submitForm(array &$form, FormStateInterface $form_state) {
    $entityType = $this->revision->getEntityType();
    $entityTypeId = $entityType->id();

    $this
      ->contentStorage
      ->deleteRevision($this->revision->getRevisionId());

    $bundle = $this->configStorage->load($this->revision->bundle());
    $args = [
      '%entityType.label' => $entityType->label(),
      '@entity.bundle.id' => $bundle->id(),
      '%entity.bundle.label' => $bundle->label(),
      '@entity.id' => $this->revision->id(),
      '%entity.label' => $this->revision->label(),
      '@entity.revision.id' => $this->revision->getRevisionId(),
      '@entity.revision.date' => $this->dateFormatter->format($this->revision->getRevisionCreationTime()),
    ];

    $this
      ->logger($entityTypeId)
      ->notice(
        '%entityType.label - %entity.bundle.label - delete - %entity.label - revision @entity.revision.id',
        $args,
      );

    $this
      ->messenger()
      ->addStatus($this->t(
        'Revision from @entity.revision.date of %entity.bundle.label %entity.label has been deleted.',
        $args,
      ));

    $routeName = $this->getNumberOfRevisions() === 1 ?
      "entity.$entityTypeId.canonical"
      : "entity.$entityTypeId.revision_history";

    $form_state->setRedirect(
      $routeName,
      [
        $entityTypeId => $this->revision->id(),
      ]
    );
  }

  protected function getNumberOfRevisions(): int {
    $idFieldName = $this->revision->getEntityType()->getKey('id');

    $result = $this
      ->contentStorage
      ->getQuery()
      ->allRevisions()
      ->condition($idFieldName, $this->revision->id())
      ->execute();

    return count($result);
  }
}
