{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\ContentEntityStorageInterface': '',
    },
  }
%}

/**
 * @method \{{ content.interface_fqn }}      create(array $values = [])
 * @method \{{ content.interface_fqn }}|null load($id)
 * @method \{{ content.interface_fqn }}[]    loadMultiple(array $ids = NULL)
 * @method \{{ content.interface_fqn }}|null loadUnchanged($id)
 * @method \{{ content.interface_fqn }}|null loadRevision($revision_id)
 * @method \{{ content.interface_fqn }}[]    loadMultipleRevisions(array $revision_ids)
 * @method \{{ content.interface_fqn }}[]    loadByProperties(array $values = [])
 */
interface {{ content.class }}StorageInterface extends ContentEntityStorageInterface {
}
