{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\ContentEntityForm': '',
      'Drupal\\Core\\Form\\FormStateInterface': '',
      'Drupal\\Component\\Utility\\Xss': '',
    },
  }
%}

class {{ content.class }}AddForm extends ContentEntityForm {

  /**
   * {@inheritdoc}
   */
  public function form(array $form, FormStateInterface $form_state) {
    $form = parent::form($form, $form_state);

    /** @var \Drupal\Core\Config\Entity\ConfigEntityInterface $bundle */
    $bundle = $this
      ->entityTypeManager
      ->getStorage($this->entity->getEntityType()->getBundleEntityType())
      ->load($this->entity->bundle());

    $form['help'] = [
      '#markup' => $bundle->get('help'),
      '#allowed_tags' => Xss::getAdminTagList(),
      '#weight' => -50,
      '#theme_wrappers' => [
        'container',
      ],
      '#attributes' => [
        'class' => [
          'help-wrapper',
        ],
      ],
    ];

    return $form;
  }

  /**
   * {@inheritdoc}
   */
  public function save(array $form, FormStateInterface $form_state) {
    $save_result = parent::save($form, $form_state);
    $this->saveSetMessage();

    $form_state->setRedirectUrl($this->entity->toUrl('canonical'));

    return $save_result;
  }

  /**
   * @return $this
   */
  protected function saveSetMessage() {
    $args = [
      '%label' => $this->entity->label(),
      '@type' => $this->entity->getEntityType()->getLabel(),
    ];

    $this->messenger()->addStatus($this->t('"%label" @type has been created', $args));

    return $this;
  }

}
