{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': content.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Entity\\EntityInterface': '',
      'Drupal\\Core\\Entity\\EntityListBuilder': '',
    },
  }
%}

class {{ content.class }}ListBuilder extends EntityListBuilder {

  /**
   * {@inheritdoc}
   */
  public function buildHeader() {
    $header = [
      'id' => $this->t('Id'),
      'bundle' => $this->t('Type'),
      'label' => $this->t('Label'),
    ];

    return $header + parent::buildHeader();
  }

  /**
   * {@inheritdoc}
   */
  public function buildRow(EntityInterface $entity) {
    // @todo Do not use the global \Drupal.
    $bundle_entity = \Drupal::entityTypeManager()
      ->getStorage($entity->getEntityType()->getBundleEntityType())
      ->load($entity->bundle());

    $row = [
      'id' => [
        'data' => $entity->id(),
      ],
      'bundle' => [
        'data' => ($bundle_entity->access('edit') ? $bundle_entity->toLink(NULL, 'edit-form') : $bundle_entity->label()),
      ],
      'label' => [
        'data' => $entity->toLink(),
      ],
    ];

    return $row + parent::buildRow($entity);
  }

}
