{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': module.namespace,
  }
%}

interface {{ content.class }}PermissionProviderInterface {

  public function getPermissions(): array;

  public function getBundlePermission(string $operation, string $bundleId = ''): string;

}
