<?php

declare(strict_types = 1);

namespace Drupal\Tests\{{ module.machine_name }}\Functional;

use Drupal\Tests\BrowserTestBase;

class TestBase extends BrowserTestBase {

  /**
   * {@inheritdoc}
   */
  protected $defaultTheme = 'bartik';

  /**
   * {@inheritdoc}
   */
  protected static $modules = [
    'system',
    'user',
    'block',
    'field_ui',
    '{{ module.machine_name }}',
  ];

  protected function setUp(): void {
    parent::setUp();

    \Drupal::service('theme_installer')->install(['seven']);
    \Drupal::service('config.factory')
      ->getEditable('system.theme')
      ->set('admin', 'seven')->save();

    $themes = [
      'bartik' => 'page_top',
      'seven' => 'help',
    ];
    foreach ($themes as $theme => $region) {
      $settings = [
        'theme' => $theme,
        'region' => $region,
      ];
      $this->placeBlock('local_tasks_block', $settings);
      $this->placeBlock('local_actions_block', $settings);
      $this->placeBlock('page_title_block', $settings);
      $this->placeBlock('system_breadcrumb_block', $settings);
    }
  }

}
