{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': module.namespace ~ '\\Entity',
  }
%}

{# @todo Add this to useStatements. #}
use {{ config.interface_fqn ~}};
{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    useStatements: {
      'Drupal\\Core\\Config\\Entity\\ConfigEntityBundleBase': '',
    }
  }
%}

/**
 * @ConfigEntityType(
 *   id = "{{ config.id }}",
 *   bundle_of = "{{ content.id }}",
 *   label            = @Translation("{{ config.label }}"),
 *   label_collection = @Translation("{{ config.label }}"),
 *   label_singular   = @Translation("{{ config.label }}"),
 *   label_plural     = @Translation("{{ config.label_plural }}"),
 *   label_count = @PluralTranslation(
 *     singular = "@count {{ config.label }}",
 *     plural   = "@count {{ config.label_plural }}",
 *   ),
 *   entity_keys = {
 *     "id"     = "id",
 *     "label"  = "label",
 *     "weight" = "weight",
 *   },
 *   handlers = {
 *     "storage"      = "{{ config.namespace }}\{{ config.class }}Storage",
 *     "access"       = "{{ config.namespace }}\{{ config.class }}AccessControlHandler",
 *     "list_builder" = "{{ config.namespace }}\{{ config.class }}ListBuilder",
 *     "form" = {
 *       "default" = "{{ config.namespace }}\{{ config.class }}AddForm",
 *       "add"     = "{{ config.namespace }}\{{ config.class }}AddForm",
 *       "edit"    = "{{ config.namespace }}\{{ config.class }}AddForm",
 *       "delete"  = "{{ config.namespace }}\{{ config.class }}DeleteForm",
 *     },
 *     "route_provider" = {
 *       "html" = "{{ config.namespace }}\{{ config.class }}RouteProvider",
 *     }
 *   },
 *   links = {
 *     "add-form"    = "/admin/structure/{{ config.id }}/add",
 *     "edit-form"   = "/admin/structure/{{ config.id }}/manage/{{ '{' }}{{ config.id }}{{ '}' }}",
 *     "delete-form" = "/admin/structure/{{ config.id }}/manage/{{ '{' }}{{ config.id }}{{ '}' }}/delete",
 *     "collection"  = "/admin/structure/{{ config.id }}"
 *   },
 *   admin_permission = "{{ module.machine_name }}.{{ config.id }}.admin",
 *   config_prefix = "{{ config.id }}",
 *   config_export = {
 *     "id",
 *     "label",
 *     "description",
 *     "help",
 *     "weight",
 *   }
 * )
 */
class {{ config.class }} extends ConfigEntityBundleBase implements {{ config.interface }} {

  protected string $help = '';

  public function getHelp(): string {
    return $this->help;
  }

  protected string $description = '';

  /**
   * {@inheritdoc}
   */
  public function getDescription(): string {
    return $this->description;
  }

  /**
   * {@inheritdoc}
   */
  public function setDescription($desc) {
    $this->description = $desc;

    return $this;
  }

  protected int $weight;

  public function getWeight(): int {
    return $this->weight;
  }

  public function setWeight(int $weight) {
    $this->weight = $weight;

    return $this;
  }

  protected bool $createNewRevision = FALSE;

  public function shouldCreateNewRevision() {
    return $this->createNewRevision;
  }

}
