{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': config.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Config\\Entity\\ConfigEntityStorage': '',
    },
  }
%}

class {{ config.class }}Storage extends ConfigEntityStorage {
}

