{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': config.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    'useStatements': {
      'Drupal\\Core\\Config\\Entity\\DraggableListBuilder': '',
      'Drupal\\Core\\Entity\\EntityInterface': '',
      'Drupal\\Core\\Entity\\EntityTypeInterface': '',
      'Drupal\\Core\\Entity\\EntityTypeManagerInterface': '',
      'Drupal\\Core\\Form\\FormStateInterface': '',
      'Drupal\\Core\\Messenger\\MessengerInterface': '',
      'Drupal\\Core\\Render\\RendererInterface': '',
      'Drupal\\Core\\Session\\AccountInterface': '',
      'Drupal\\Core\\Url': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    },
  }
%}

/**
 * @property \Drupal\Core\Config\Entity\ConfigEntityStorageInterface $storage
 */
class {{ config.class }}ListBuilder extends DraggableListBuilder {

  /**
   * The current user.
   *
   * @var \Drupal\Core\Session\AccountInterface
   */
  protected $currentUser;

  /**
   * The entity type manager.
   *
   * @var \Drupal\Core\Entity\EntityTypeManagerInterface
   */
  protected $entityTypeManager;

  /**
   * The renderer service.
   *
   * @var \Drupal\Core\Render\RendererInterface
   */
  protected $renderer;

  /**
   * The messenger.
   *
   * @var \Drupal\Core\Messenger\MessengerInterface
   */
  protected $messenger;

  /**
   * {@inheritdoc}
   */
  public static function createInstance(ContainerInterface $container, EntityTypeInterface $entity_type) {
    return new static(
      $entity_type,
      $container->get('current_user'),
      $container->get('entity_type.manager'),
      $container->get('renderer'),
      $container->get('messenger')
    );
  }

  public function __construct(
    EntityTypeInterface $entity_type,
    AccountInterface $current_user,
    EntityTypeManagerInterface $entity_type_manager,
    RendererInterface $renderer = NULL,
    MessengerInterface $messenger
  ) {
    parent::__construct($entity_type, $entity_type_manager->getStorage($entity_type->id()));

    $this->currentUser = $current_user;
    $this->entityTypeManager = $entity_type_manager;
    $this->renderer = $renderer;
    $this->messenger = $messenger;
  }

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return '{{ module.machine_name }}_{{ config.id }}_list_form';
  }

  /**
   * {@inheritdoc}
   */
  public function getDefaultOperations(EntityInterface $entity) {
    $operations = parent::getDefaultOperations($entity);

    if ($entity->access('{{ module.machine_name }}.{{ config.id }}.admin')) {
      $operations['list'] = [
        'title' => $this->t('List {{ content.label_plural }} (not yet)'),
        'weight' => 0,
        'url' => $entity->toUrl('edit-form'),
      ];
    }

    $contentEntityTypeId = $entity->getEntityType()->getBundleOf();
    $accessControlHandler = $this->entityTypeManager->getAccessControlHandler($contentEntityTypeId);
    if ($accessControlHandler->createAccess($entity->id())) {
      $operations['add'] = [
        'title' => $this->t('Add {{ content.label }}'),
        'weight' => 10,
        'url' => Url::fromRoute('entity.{{ content.id }}.add_form', ['{{ config.id }}' => $entity->id()]),
      ];
    }

    return $operations;
  }

  /**
   * {@inheritdoc}
   */
  public function buildHeader() {
    $header['label'] = $this->t('Label');
    $header['description'] = $this->t('Description');

    $adminPermission = $this->entityType->getAdminPermission();
    if ($this->currentUser->hasPermission($adminPermission) && !empty($this->weightKey)) {
      $header['weight'] = $this->t('Weight');
    }

    return $header + parent::buildHeader();
  }

  /**
   * {@inheritdoc}
   */
  public function buildRow(EntityInterface $entity) {
    /** @var \{{ config.interface_fqn }} $entity */
    $row = [
      'label' => $entity->label(),
      'description' => [
        'data' => [
          '#markup' => $entity->getDescription(),
        ],
      ],
    ];

    return $row + parent::buildRow($entity);
  }

  /**
   * {@inheritdoc}
   */
  public function submitForm(array &$form, FormStateInterface $form_state) {
    parent::submitForm($form, $form_state);

    $this->messenger->addStatus($this->t('The configuration options have been saved.'));
  }

}
