{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': config.namespace,
  }
%}

class {{ config.class }}Comparer {

  protected int $result = 0;

  protected array $fieldNames = [
    'weight',
    'label',
  ];

  public function getFieldNames(): array {
    return $this->fieldNames;
  }

  /**
   * @return $this
   */
  public function setFieldNames(array $fieldNames) {
    $this->fieldNames = $fieldNames;

    return $this;
  }

  protected bool $ascending = TRUE;

  /**
   * {@inheritdoc}
   */
  public function getAscending(): bool {
    return $this->ascending;
  }

  /**
   * {@inheritdoc}
   */
  public function setAscending(bool $ascending) {
    $this->ascending = $ascending;

    return $this;
  }

  public function __invoke($a, $b): int {
    return $this->compare($a, $b);
  }

  public function compare($a, $b): int {
    return $this
      ->initResult()
      ->setResult($a, $b)
      ->getResult();
  }

  protected function getResult(): int {
    if ($this->result === 0 || $this->getAscending()) {
      return $this->result;
    }

    return $this->result > 0 ? -1 : 1;
  }

  /**
   * @param \{{ config.interface_fqn }} $a
   * @param \{{ config.interface_fqn }} $b
   *
   * @return $this
   */
  protected function setResult($a, $b) {
    foreach ($this->fieldNames as $fieldName) {
      $this->result = $a->get($fieldName) <=> $b->get($fieldName);

      if ($this->result !== 0) {
        return $this;
      }
    }

    return $this;
  }

  /**
   * @return $this
   */
  protected function initResult() {
    $this->result = 0;

    return $this;
  }

}
