{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': module.namespace,
  }
%}
{%
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
  'useStatements': {
    'Drupal\\Core\\Config\\Entity\\ConfigEntityInterface': '',
    'Drupal\\Core\\Entity\\EntityDescriptionInterface': '',
  },
}
%}

interface {{ config.interface }} extends ConfigEntityInterface, EntityDescriptionInterface {
}
