<?php

declare(strict_types = 1);

namespace Drupal\Tests\{{ module.machine_name }}\Functional;

use Behat\Mink\Element\DocumentElement;

class ConfigEntityCrudTest extends TestBase {

  public function testCrud() {
    $admin = $this->createUser(
      [
        'access administration pages',
        'view the administration theme',
        '{{ module.machine_name }}.{{ config.id }}.admin',
      ],
    );

    $this->drupalLogin($admin);

    $values = [
      'label' => 'My type 01',
      'id' => 'my_type_01',
      'description' => 'My desc 01',
      'help' => 'My help 01',
      'weight' => 4,
    ];
    $this->crudCreate($values);

    $old = $values;
    $values['label'] .= ' - edit 01';
    $values['description'] .= ' - edit 01';
    $values['help'] .= ' - edit 01';
    $values['weight'] += 10;
    $this->crudEdit($old, $values);

    $this->crudDelete($values);
  }

  protected function crudCreate(array $values) {
    $this->drupalGet('/admin/structure/{{ config.id }}');
    $this->clickLink('Add {{ config.label }}');

    $page = $this->getSession()->getPage();
    $this->fillConfigEntityForm($page, $values, 'add');
    $page->pressButton('Save');

    $assert = $this->assertSession();
    $assert->pageTextContains(sprintf(
      '"%s" {{ config.label }} has been created',
      $values['label'],
    ));
  }

  protected function crudEdit(array $old, array $new) {
    $this->drupalGet("/admin/structure/{{ config.id }}/manage/{$new['id']}");

    $assert = $this->assertSession();
    $assert->fieldValueEquals('label', $old['label']);
    $assert->fieldValueEquals('description', $old['description']);
    $assert->fieldValueEquals('help', $old['help']);
    $assert->fieldValueEquals('weight', $old['weight']);

    $page = $this->getSession()->getPage();
    $this->fillConfigEntityForm($page, $new, 'edit');
    $page->pressButton('Save');

    $assert = $this->assertSession();
    $assert->pageTextContains(sprintf(
      '"%s" {{ config.label }} has been updated',
      $new['label'],
    ));

    return $this;
  }

  protected function crudDelete(array $values) {
    $this->drupalGet("/admin/structure/{{ config.id }}/manage/{$values['id']}");
    $page = $this->getSession()->getPage();
    $page->clickLink('Delete');

    $assert = $this->assertSession();
    $assert->pageTextContains(sprintf(
      'Are you sure you want to delete the {{ config.label }} %?',
      $values['label'],
    ));

    $page = $this->getSession()->getPage();
    $page->pressButton('Delete');

    $assert = $this->assertSession();
    $assert->pageTextContains(sprintf(
      'The {{ config.label }} %s has been deleted.',
      $values['label'],
    ));

    return $this;
  }

  protected function fillConfigEntityForm(DocumentElement $page, array $values, string $type) {
    if (array_key_exists('label', $values)) {
      $page->fillField('Label', $values['label']);
    }

    if (array_key_exists('id', $values) && $type === 'add') {
      $page->fillField('id', $values['id']);
    }

    if (array_key_exists('description', $values)) {
      $page->fillField('Description', $values['description']);
    }

    if (array_key_exists('help', $values)) {
      $page->fillField('Help', $values['help']);
    }

    if (array_key_exists('weight', $values)) {
      $page->fillField('Weight', $values['weight']);
    }

    return $this;
  }

}
