langcode: en
status: true
id: {{ migration_id }}
migration_group: {{ migration_group }}
label: '{{ migration_group }} - {{ entity_type }}:{{ bundle }}'

source:
  fileName: {{ entity_type }}/{{ bundle }}.yml
  identifier: ~
  identifierDepth: 0
  constants:
    dst_entity_type: {{ entity_type }}
    dst_bundle: {{ bundle }}

  fields:
    uuid: uuid
    info: Info

process:
  uuid: uuid
  type: constants/dst_bundle
  info: info

destination:
  plugin: 'entity:{{ entity_type }}'
