langcode: en
status: true
id: {{ migration_group }}
label: '{{ migration_group }} Content'
description: 'Imports {{ migration_group }} contents.'
source_type: 'Custom YAML files for the git repository'
module: {{ migration_module }}
shared_configuration:
  source:
    plugin: migrate_dc_yaml
    fileDir: ../sites/default/content/{{ migration_group }}
