langcode: en
status: true
id: {{ migration_id }}
migration_group: {{ migration_group }}
label: '{{ migration_group }} - {{ entity_type }}:{{ bundle }}'

source:
  fileName: {{ entity_type }}/{{ bundle }}.yml
  identifier: ~
  identifierDepth: 0
  constants:
    dst_entity_type: {{ entity_type }}
    dst_bundle: {{ bundle }}

  fields:
    uuid: UUID
    status: Status
    weight: Weight
    name: Name
    description: Description

process:
  uuid: uuid
  status:
    source: status
    plugin: default_value
    default_value: true
  weight:
    source: weight
    plugin: default_value
    default_value: 0
  name: name
  description: description

destination:
  plugin: 'entity:{{ entity_type }}'
  default_bundle: {{ bundle }}
  overwrite_properties:
    - status
    - weight
    - name
    - description
