langcode: en
status: true
id: {{ migration_id }}
migration_group: {{ migration_group }}
migration_tags:
  - app
label: '{{ migration_group }} - {{ entity_type }}:{{ bundle }}'

source:
  fileName: {{ entity_type }}/{{ bundle }}.yml
  identifier: ~
  identifierDepth: 0
  constants:
    dst_entity_type: {{ entity_type }}
    dst_bundle: {{ bundle }}
    status: true

  fields:
    uuid: 'UUID'
    status: 'Status'
    created: 'Created'
    changed: 'Changed'
    title: 'Title'

process:
  uuid: 'uuid'
  type: 'constants/dst_bundle'
  status:
    source: 'status'
    plugin: 'default_value'
    default_value: true
  created:
    -
      source: 'created'
      plugin: 'default_value'
      default_value: 'now'
    -
      plugin: 'migrate_dc_str_to_time'
  changed:
    -
      source: 'changed'
      plugin: 'default_value'
      default_value: 'now'
    -
      plugin: 'migrate_dc_str_to_time'
  title: 'title'

destination:
  plugin: 'entity:{{ entity_type }}'
  default_bundle: {{ bundle }}
  overwrite_properties:
    - 'status'
    - 'created'
    - 'changed'
    - 'title'
