{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': block_content_type.derivative.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    useStatements: {
      'Drupal\\Core\\Entity\\EntityStorageInterface': '',
      'Drupal\\Core\\Entity\\EntityTypeManagerInterface': '',
      'Drupal\\Core\\Extension\\ModuleHandlerInterface': '',
      'Drupal\\Core\\Routing\\RouteProviderInterface': '',
      'Drupal\\Core\\State\\StateInterface': '',
      'Drupal\\Core\\StringTranslation\\StringTranslationTrait': '',
      'Drupal\\views\\Plugin\\Derivative\\ViewsLocalTask': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    }
  }
%}

class {{ block_content_type.class }} extends ViewsLocalTask {

  use StringTranslationTrait;

  /**
   * The entity type manager.
   *
   * @var \Drupal\Core\Entity\EntityTypeManagerInterface
   */
  protected EntityTypeManagerInterface $entityTypeManager;

  /**
   * The module handler.
   *
   * @var \Drupal\Core\Extension\ModuleHandlerInterface
   */
  protected ModuleHandlerInterface $moduleHandler;

  /**
   * {@inheritdoc}
   */
  public static function create(
    ContainerInterface $container,
    $base_plugin_id
  ) {
    return new static(
      $container->get('router.route_provider'),
      $container->get('state'),
      $container->get('entity_type.manager')->getStorage('view'),
      $container->get('entity_type.manager'),
      $container->get('module_handler')
    );
  }

  /**
   * {{ block_content_type.class }} constructor.
   *
   * @param \Drupal\Core\Routing\RouteProviderInterface $routeProvider
   *   The route provider.
   * @param \Drupal\Core\State\StateInterface $state
   *   The state key value store.
   * @param \Drupal\Core\Entity\EntityStorageInterface $viewStorage
   *   The view storage.
   * @param \Drupal\Core\Entity\EntityTypeManagerInterface $entityTypeManager
   *   The entity type manager.
   * @param \Drupal\Core\Extension\ModuleHandlerInterface $moduleHandler
   *   The module handler.
   */
  public function __construct(
    RouteProviderInterface $routeProvider,
    StateInterface $state,
    EntityStorageInterface $viewStorage,
    EntityTypeManagerInterface $entityTypeManager,
    ModuleHandlerInterface $moduleHandler
  ) {
    $this->entityTypeManager = $entityTypeManager;
    $this->moduleHandler = $moduleHandler;

    parent::__construct(
      $routeProvider,
      $state,
      $viewStorage
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getDerivativeDefinitions($base_plugin_definition) {
    $this->derivatives = [];
    $this->derivatives += $this->getBlockContentAdminViewDerivatives($base_plugin_definition);

    return $this->derivatives;
  }

  /**
   * Collect admin views for block content types.
   *
   * @param array $basePluginDefinition
   *   The definition array of the base plugin.
   *
   * @return array
   *   Returns the block content type admin views list.
   *
   * @throws \Drupal\Component\Plugin\Exception\InvalidPluginDefinitionException
   * @throws \Drupal\Component\Plugin\Exception\PluginNotFoundException
   */
  protected function getBlockContentAdminViewDerivatives(array $basePluginDefinition): array {
    $derivatives = [];
    $existingRoutes = $this->state->get('views.view_route_names');
    $dwCustomBlocksView = $this->viewStorage->load('{{ module.machine_name }}_custom_blocks');
    if ($existingRoutes && $dwCustomBlocksView && $this->moduleHandler->moduleExists('block_content')) {
      // Create a new 'Custom blocks' tab, and add an 'All' local task.
      $derivatives += [
        '{{ module.machine_name }}_custom_blocks' => [
          'route_name' => '{{ module.machine_name }}.block_content.collection',
          'base_route' => 'system.admin_content',
          'title' => $this->t('Custom blocks'),
        ],
        '{{ module.machine_name }}_custom_blocks_all' => [
          'route_name' => '{{ module.machine_name }}.block_content.collection',
          'parent_id' => '{{ module.machine_name }}_block_content_type_task:{{ module.machine_name }}_custom_blocks',
          'weight' => -50,
          'title' => $this->t('All'),
        ],
      ];
      $derivatives += $this->getConfigEntityAdminViewDerivatives(
        'block_content_type',
        '{{ module.machine_name }}_block_content_type_task:{{ module.machine_name }}_custom_blocks',
        $existingRoutes,
        $basePluginDefinition
      );
    }

    return $derivatives;
  }

  /**
   * Collects admin view derivatives for a specified config entity.
   *
   * @param string $configEntityTypeId
   *   The config entity type id we want to collect admin views for.
   * @param string $parentId
   *   The parent_id of the local task.
   * @param array $existingRoutes
   *   The stored value for view route names.
   * @param array $basePluginDefinition
   *   The definition array of the base plugin.
   *
   * @return array
   *   Returns a list of local tasks.
   *
   * @throws \Drupal\Component\Plugin\Exception\InvalidPluginDefinitionException
   * @throws \Drupal\Component\Plugin\Exception\PluginNotFoundException
   */
  protected function getConfigEntityAdminViewDerivatives(
    string $configEntityTypeId,
    string $parentId,
    array $existingRoutes,
    array $basePluginDefinition
  ): array {
    $derivatives = [];
    /** @var \Drupal\Core\Config\Entity\ConfigEntityStorageInterface $configEntityTypeStorage */
    $configEntityTypeStorage = $this
      ->entityTypeManager
      ->getStorage($configEntityTypeId);
    $configEntityTypes = $configEntityTypeStorage->loadMultiple();
    $weight = 0;
    foreach ($configEntityTypes as $configEntityType) {
      $viewsId = "{$configEntityType->id()}_admin";
      /** @var \Drupal\views\Entity\View $view */
      $view = $this->viewStorage->load($viewsId);
      if ($view) {
        $viewExecutable = $view->getExecutable();
        $viewPluginId = 'view.' . $viewExecutable->storage->id() . '.overview';
        $viewRouteName = $existingRoutes[$viewExecutable->storage->id() . '.overview'];
        $weight++;
        $derivatives[$viewPluginId] = [
          'route_name' => $viewRouteName,
          'parent_id' => $parentId,
          'weight' => $weight,
          'title' => $viewExecutable->getTitle(),
        ] + $basePluginDefinition;
      }
    }

    return $derivatives;
  }

}
