{%
  include '@devel_wizard/php/devel_wizard.php.file.header.php.twig'
  with {
    'namespace': node_type.derivative.namespace,
  }
%}

{%-
  include '@devel_wizard/php/devel_wizard.php.file.use_statements.php.twig'
  with {
    useStatements: {
      'Drupal\\Core\\Entity\\EntityStorageInterface': '',
      'Drupal\\Core\\Entity\\EntityTypeManagerInterface': '',
      'Drupal\\Core\\Extension\\ModuleHandlerInterface': '',
      'Drupal\\Core\\Routing\\RouteProviderInterface': '',
      'Drupal\\Core\\State\\StateInterface': '',
      'Drupal\\Core\\StringTranslation\\StringTranslationTrait': '',
      'Drupal\\views\\Plugin\\Derivative\\ViewsLocalTask': '',
      'Symfony\\Component\\DependencyInjection\\ContainerInterface': '',
    }
  }
%}

class {{ node_type.class }} extends ViewsLocalTask {

  use StringTranslationTrait;

  protected EntityTypeManagerInterface $entityTypeManager;

  protected ModuleHandlerInterface $moduleHandler;

  /**
   * {@inheritdoc}
   */
  public static function create(
    ContainerInterface $container,
    $base_plugin_id
  ) {
    return new static(
      $container->get('router.route_provider'),
      $container->get('state'),
      $container->get('entity_type.manager')->getStorage('view'),
      $container->get('entity_type.manager'),
      $container->get('module_handler')
    );
  }

  public function __construct(
    RouteProviderInterface $routeProvider,
    StateInterface $state,
    EntityStorageInterface $viewStorage,
    EntityTypeManagerInterface $entityTypeManager,
    ModuleHandlerInterface $moduleHandler
  ) {
    $this->entityTypeManager = $entityTypeManager;
    $this->moduleHandler = $moduleHandler;

    parent::__construct(
      $routeProvider,
      $state,
      $viewStorage
    );
  }

  /**
   * {@inheritdoc}
   */
  public function getDerivativeDefinitions($base_plugin_definition) {
    $this->derivatives = [];
    $this->derivatives += $this->getNodeTypeAdminViewDerivatives($base_plugin_definition);

    return $this->derivatives;
  }

  /**
   * Collect admin views for node types generated by Devel Wizard.
   *
   * @param array $basePluginDefinition
   *   The definition array of the base plugin.
   *
   * @return array
   *   Returns the devel wizard block content type admin views list.
   *
   * @throws \Drupal\Component\Plugin\Exception\InvalidPluginDefinitionException
   * @throws \Drupal\Component\Plugin\Exception\PluginNotFoundException
   */
  protected function getNodeTypeAdminViewDerivatives(array $basePluginDefinition): array {
    $derivatives = [];
    $existingRoutes = $this->state->get('views.view_route_names');
    if ($existingRoutes && $this->moduleHandler->moduleExists('node')) {
      // Add an 'All' local task under the 'Content' tab.
      $derivatives += [
        'devel_wizard_content' => [
          'route_name' => 'view.content.page_1',
          'parent_id' => 'system.admin_content',
          'weight' => -50,
          'title' => $this->t('All'),
        ],
      ];
      $derivatives += $this->getConfigEntityAdminViewDerivatives(
        'node_type',
        'system.admin_content',
        $existingRoutes,
        $basePluginDefinition
      );
    }

    return $derivatives;
  }

  /**
   * Collects admin view derivatives.
   *
   * Collects admin view derivatives for a specified config entity created
   * by DevelWizard module.
   *
   * @param string $configEntityTypeId
   *   The config entity type id we want to collect admin views for.
   * @param string $parentId
   *   The parent_id of the local task.
   * @param array $existingRoutes
   *   The stored value for view route names.
   * @param array $basePluginDefinition
   *   The definition array of the base plugin.
   *
   * @return array
   *   Returns a list of local tasks.
   *
   * @throws \Drupal\Component\Plugin\Exception\InvalidPluginDefinitionException
   * @throws \Drupal\Component\Plugin\Exception\PluginNotFoundException
   */
  protected function getConfigEntityAdminViewDerivatives(
    string $configEntityTypeId,
    string $parentId,
    array $existingRoutes,
    array $basePluginDefinition
  ): array {
    $derivatives = [];
    /** @var \Drupal\Core\Config\Entity\ConfigEntityStorageInterface $configEntityTypeStorage */
    $configEntityTypeStorage = $this
      ->entityTypeManager
      ->getStorage($configEntityTypeId);
    $configEntityTypes = $configEntityTypeStorage->loadMultiple();
    $weight = 0;
    foreach ($configEntityTypes as $configEntityType) {
      $viewsId = "{$configEntityType->id()}_admin";
      /** @var \Drupal\views\Entity\View $view */
      $view = $this->viewStorage->load($viewsId);
      if ($view) {
        $viewExecutable = $view->getExecutable();
        $viewPluginId = 'view.' . $viewExecutable->storage->id() . '.overview';
        $viewRouteName = $existingRoutes[$viewExecutable->storage->id() . '.overview'];
        $weight++;
        $derivatives[$viewPluginId] = [
          'route_name' => $viewRouteName,
          'parent_id' => $parentId,
          'weight' => $weight,
          'title' => $viewExecutable->getTitle(),
        ] + $basePluginDefinition;
      }
    }

    return $derivatives;
  }

}
